@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
/*
    la variable $fcolor corresponde al color que se le vaya a asignar a la fuente y $color corresponde al color que se le asigne al resto de propiedades
*/
/* Establece el contenedor como una caja flexible con dirección vertical y centra verticalmente su contenido */
/* Define un mixin para establecer las propiedades 'align-items' y 'justify-content' en un contenedor flexible con argumentos opcionales */
/*************** TYPOS ***************/
@font-face {
  font-family: "DeadZoneBold";
  src: url(../assets/fonts/Dead\ Zone\ Bold.ttf);
}
h1, h2, h3, h4, h5, h6, a, li, p, input, label, button, textarea, blockquote, cite {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  color: #fff;
  font-size: 0.9rem;
}

.title {
  font-family: "DeadZoneBold";
  font-size: 0.8rem;
  background: linear-gradient(90deg, transparent 0%, #DBFE7A 0%, #DBFE7A 9.66%, #fff);
  /*background: linear-gradient(90deg, #BAC704 0%, #E1FE91 16.67%, #DBFE7A 33.33%, #E1FE91 42.19%, #E1FE91 45.31%, #FFFFFF 54.69%, #FFFFFF 100%);*/
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.section-title {
  color: #d1363a;
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.section-title:not(.small)::after {
  content: " |";
}

.plataform {
  width: fit-content;
  font-size: 0.7rem;
  font-weight: bolder;
  border-radius: 0.4rem;
  padding: 0.1rem;
  margin: 1rem 0;
  color: #d1363a;
}

/*************** END OF TYPOS ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** GLOBALS ***************/
body {
  background-color: #1f1f1f;
}

.divider {
  margin: 0.5rem 0;
  width: 8rem;
  height: 4px;
  background-color: #d1363a;
  border-radius: 0.5rem;
}

/*************** END OF GLOBALS ***************/
/* FORMS */
.contact .form .form-group {
  width: 20rem;
  margin: 1rem;
}
.contact .form .form-group label {
  color: #000;
}
.contact .form .form-group input, .contact .form .form-group textarea, .contact .form .form-group button {
  margin: 0.5rem 0;
}

.newsletter {
  background: linear-gradient(100deg, transparent 67%, #d1363a 67%, #d1363a 76.66%), #fff;
}
.newsletter .news-content p, .newsletter .news-content label, .newsletter .news-content input {
  color: #000;
}

/* END OF FORMS */
/*************** INPUTS ***************/
input, textarea {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0 1rem;
  border-color: #d1363a;
}

textarea:focus, input:focus {
  outline-color: #d1363a;
  border: none;
}

/*************** END OF INPUTS ***************/
/*************** BUTTONS ***************/
.button {
  padding: 0.375rem 0.75rem;
  color: #fff;
  font-weight: bolder;
  border: 1px solid #d1363a;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: fit-content;
  line-height: 1.5;
  background-color: #d1363a;
}

.button:hover {
  background-color: #d1363a;
}

:target {
  background-color: #d1363a;
}

/*************** END OF BUTTONS ***************/
/*************** CARDS ***************/
.card, .about .card {
  width: fit-content;
  background-color: transparent;
  border: none;
  margin: 1rem;
}
.card .image {
  width: 20rem;
  padding: 0 0 0.5rem 0;
}
.card .image img {
  border-radius: 1rem;
  width: 20rem;
  height: 12rem;
}
.card .text {
  width: 20rem;
}

.about .card .image img {
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
}
.about .card .text p:nth-child(1) {
  font-size: 1.1rem;
  padding: 0.3rem 0;
}

/*************** END OF CARDS ***************/
/*************** HEADER ***************/
.header {
  background-color: #111;
}
.header .logo img {
  height: 4rem;
}
.header .navmenu ul li {
  margin: 0 0.5rem;
}
.header .navmenu ul li a:hover {
  color: #DBFE7A;
}

/*************** END OF HEADER ***************/
/*************** HOME ***************/
.hero {
  position: relative;
}
.hero .image {
  position: relative;
  height: 8rem;
  background-image: url("https://images4.alphacoders.com/478/thumb-1920-47816.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .image::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #111;
  position: absolute;
  top: 0;
  opacity: 0.7;
}
.hero .content {
  font-size: 0.6rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.hero .content .title {
  font-size: 1.5rem;
}

.newsletter .news-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*************** END OF HOME ***************/
/*************** NEWS ***************/
.interest .card .image {
  width: 10rem;
}
.interest .card .news-content {
  padding: 0;
}

.interest .featured {
  width: fit-content;
  position: relative;
  margin: 0;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}
.interest .featured .image {
  position: relative;
  width: fit-content;
  height: 20rem;
}
.interest .featured .image img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
.interest .featured .image::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 100;
  left: 0;
  border-radius: 1rem;
  opacity: 0.7;
}
.interest .featured .news-content {
  padding: 2rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
}
.interest .featured .news-content p + p {
  font-size: 0.8rem;
}
.interest .featured:hover {
  background-color: #111;
  border-radius: 1rem;
}

.section-title {
  color: #d1363a;
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.section-title:not(.small)::after {
  content: " |";
}

.news {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bolder;
  transition: all 0.1s ease-in;
}
.news:hover {
  background-color: #111;
}

/*************** END OF NEWS ***************/
/*************** GAMES ***************/
.games .card {
  width: fit-content;
  margin: 0.2rem;
  padding: 0;
  position: relative;
  color: #fff;
  transition: all 0.1s ease-in;
}
.games .card .image {
  position: relative;
  width: fit-content;
  height: 35rem;
  border-radius: 1rem;
}
.games .card .image img {
  width: 20rem;
  height: 35rem;
  border-radius: 1rem;
}
.games .card .image::after {
  content: " ";
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0 0 1rem 1rem;
}
.games .card .content {
  width: 20rem;
  position: absolute;
  top: 65%;
  padding: 0.9rem;
  z-index: 9000;
  height: 35%;
}
.games .card:hover {
  border: #fff solid 0.1rem;
  border-radius: 1rem;
}

.trailer {
  width: 30rem;
  padding: 1rem;
  background-color: #111;
  margin: 1rem;
  border-radius: 1rem;
}
.trailer iframe {
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}
.trailer .content {
  padding: 1rem;
}
.trailer .content p {
  font-size: 0.9rem;
}

/*************** END OF GAMES ***************/
/*************** ABOUT ***************/
.about .card .image img {
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
}
.about .card .text p:nth-child(1) {
  font-size: 1.1rem;
  padding: 0.3rem 0;
}

.quote {
  margin: 1rem;
}
.quote .blockquote {
  width: 60rem;
  border-left: 6px solid #DBFE7A;
  border-radius: 1rem;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}
.quote .blockquote p {
  display: inline;
  font-size: 1rem;
}
.quote .blockquote::after {
  color: #DBFE7A;
  content: close-quote;
  font-size: 4rem;
  line-height: 2rem;
  vertical-align: -0.5em;
}
.quote .blockquote::before {
  color: #DBFE7A;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

/*************** END OF ABOUT ***************/
/*************** CONTACT ***************/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  padding: 2rem;
}
.contact p {
  color: #000;
  text-transform: uppercase;
  font-weight: bolder;
}

/*************** END OF CONTACT ***************/
/*************** FOOTER ***************/
.footer {
  background-color: #111;
}
.footer .footer-logo img {
  width: 6rem;
  margin: 0 0.5rem;
}
.footer .footer-nav ul li {
  margin: 0 0.5rem;
}
.footer .footer-nav ul li a {
  color: #8a8887;
  transition: all 0.1s ease;
}
.footer .footer-nav ul li a:hover {
  color: #b1aead;
}

/*************** END OF FOOTER ***************/
/*************** MEDIA QUERIES ***************/
@media (min-width: 768px) {
  .interest .card .image img {
    width: 12rem;
    height: 8rem;
  }
}
/*************** END OF MEDIA QUERIES ***************/

/*# sourceMappingURL=main.css.map */
