/*************** HEADER ***************/
.header {
    background-color:map-get($colors, primary);
    .logo {
        img {
            height: 4rem;
        }
    }
    .navmenu {
        ul {
            li {
                margin: 0 .5rem;
                a {
                    &:hover {
                        color:map-get($colors, cgreen);
                    }
                }
            }
        }
    }
}
/*************** END OF HEADER ***************/

