/*************** CARDS ***************/

.card {
    width: fit-content;
    background-color: transparent;
    border: none;
    margin: 1rem;
    .image {
        width: 20rem;
        padding: 0 0 .5rem 0;
        img {
            border-radius: 1rem;
            width: 20rem;
            height: 12rem;
        }
    }
    .text {
        width: 20rem;
    }
}

/*************** END OF CARDS ***************/
