/*************** CARDS ***************/

.card {
    width: fit-content;
    background-color: transparent;
    border: none;
    margin: 1rem;
    .image {
        width: 20rem;
        padding: 0 0 .5rem 0;
        img {
            border-radius: 1rem;
            width: 20rem;
            height: 12rem;
        }
    }
    .text {
        width: 20rem;
    }
}
.about .card {
    @extend .card;
    .image {
        img {
            height: 12rem;
            border-radius: 1rem 1rem 0 0;
        }
    }
    .text {
        p {
            &:nth-child(1) {
                font-size: 1.1rem;
                padding: .3rem 0;
            }
        }
    }
}
/*************** END OF CARDS ***************/
