/*************** INPUTS ***************/

input, textarea {
    border: none;
    border-radius: .3rem;
    padding: .5rem;
    margin: 0 1rem;
    border-color: map-get($colors, cred);
}
textarea:focus, input:focus{
    outline-color: map-get($colors, cred);
    border: none;
}
/*************** END OF INPUTS ***************/
