/*************** ABOUT ***************/
.about .card {
    @extend .card;
    .image {
        img {
            height: 12rem;
            border-radius: 1rem 1rem 0 0;
        }
    }
    .text {
        h2 {
            font-size: 1.1rem;
            padding: .3rem 0;
        }
    }
}
.quote {
    margin: 1rem;
    .blockquote {
        width: 60rem;
        border-left: 6px solid map-get($colors, cgreen);
        border-radius: 1rem;
        padding: 0.5em 10px;
        quotes: "“" "”" "‘" "’";
        p {
            display: inline;
            font-size: 1rem;
        }
        &::after {
            color:map-get($colors, cgreen);
            content: close-quote;
            font-size: 4rem;
            line-height: 2rem;
            vertical-align: -.5em;
        }
        &::before {
            color: map-get($colors, cgreen);
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            vertical-align: -0.4em;
        }
    }
}
/*************** END OF ABOUT ***************/
