/*************** GAMES ***************/

.games .card {
    width: fit-content;
    margin: .2rem;
    padding: 0;
    position: relative;
    color: map-get($colors, cwhite);
    transition: all .1s ease-in;
    .image {
        position: relative;
        width: fit-content;
        height: 35rem;
        border-radius: 1rem;
        img {
            width: 20rem;
            height: 35rem;
            border-radius: 1rem;
        }
        &::after {
            content: " ";
            width: 100%;
            height: 35%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .75);
            border-radius: 0 0 1rem 1rem;
        }
    }
    .content {
        width: 20rem;
        position: absolute;
        top: 65%;
        padding: .9rem;
        z-index: 9000;
        height: 35%;
    }
    &:hover {
        border: map-get($colors, cwhite) solid .1rem;
        border-radius: 1rem;
    }
}
.trailer {
    width: 30rem;
    padding: 1rem;
    background-color: map-get($colors, primary);
    margin: 1rem;
    border-radius: 1rem;
    iframe {
        width: 100%;
        border-radius: 1rem;
        margin: 1rem 0;
    }
    .content {
        padding: 1rem;
        p {
            font-size: .9rem;
        }
    }
}
/*************** END OF GAMES ***************/
