@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

body {
    background-color: #1f1f1f;
}

h1,h2,h3,h4,h5,h6,a,li,p,input,label,button,textarea,blockquote,cite {
    list-style: none;
    text-decoration: none;
    font-family: "Roboto";
    color: #fff;
    font-size: .8rem;
}
input, textarea {
    border: none;
    border-radius: .3rem;
    padding: .5rem;
    margin: 0 1rem;
    border-color: #d1363a;
}
textarea:focus, input:focus{
    outline-color: #d1363a;
    border: none;

}
button {
	padding: .375rem .75rem;
    color: #fff;
    font-weight: bolder;
    border: 1px solid #d1363a;
	border-radius: .25rem;
	font-size: 1rem;
    width: fit-content;
    line-height: 1.5;
    background-color: #d1363a;
}
button:hover {
    background-color: #9c262a;
}

:target {
    background-color: red;
}
.plataform {
    width: fit-content;
    font-size: .7rem;
    font-weight: bolder;
    border-radius: .4rem;
    padding: .1rem;
    margin: 1rem 0;
    color: #d1363a;
}
.title {
    font-family: "DeadZoneBold";
    font-size: .8rem ;
    background: linear-gradient(90deg, #BAC704 0%, #E1FE91 16.67%, #DBFE7A 33.33%, #E1FE91 42.19%, #E1FE91 45.31%, #FFFFFF 54.69%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.divider {
    margin: .5rem 0;
    width: 8rem;
    height: 4px;
    background-color: #d1363a;
    border-radius: .5rem;
}
/********** HEADER *************/
.header {
    background-color: #111;
}
.header .logo img{
    height: 4rem;
}
.header .navmenu ul li{
    margin: 0 .5rem;
}
.header .navmenu ul li a:hover {
    color: #DBFE7A;
}
/************* HERO **************/
.hero {
    position: relative;
}
.hero .hero-img {
    position: relative;
    height: 8rem;
    background-image: url("https://images4.alphacoders.com/478/thumb-1920-47816.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-img:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #040207;
    position: absolute;
    top: 0;
    opacity: .7;
}
.hero .hero-text {
    font-size: .6rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero .hero-text .title {
    font-size: 1.5rem;
}
/*********** LATEST NEWS ******************/
 .card {
    width: fit-content;
    background-color: transparent;
    border: none;
}
.card .image {
    width: 20rem;
    padding: 0 0 .5rem 0;
}
 .card .image img {
    border-radius: 1rem;
    width: 20rem;
    height: 12rem;
}
.card .text {
    width: 20rem;
}
/*********** INTEREST ******************/
.interest .cards .card {
    background-color: transparent;
    border: none;
}
.interest .cards .card .image {
    padding: 0 0 .5rem 0;
}
.interest .cards .card .image img {
    border-radius: 1rem;
    width: 20rem;
    height: 12rem;
}
.interest .cards .card .news-content {
    padding: 0;
}
.interest .cards .featured {
    width: fit-content;
    position: relative;
    height: fit-content;
    margin: 0;
    padding:1rem;
}
.interest .cards .featured:hover{
    background-color: #111;
    border-radius: 1rem;
}
.interest .cards .featured .image {
    position: relative;
    width: fit-content;
    height: 20rem;
}
.interest .cards .featured .image:after{
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 100;
    left: 0;
    border-radius: 1rem;
    opacity: .7;
}
.interest .cards .featured .image img{
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
}
.interest .cards .featured .news-content {
    padding: 2rem;
    position: absolute;
    bottom: -1rem;
    left: 0;
}
.interest .cards .card .image {
    width: 10rem;
}
.section-title {
    color: #d1363a;
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.section-title:not(.small):after {
    content: "\00a0|";
}
.news {
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bolder;
    transition: all .1s ease-in;
}
.news:hover {
    background-color: #111;
}

/*********** NEWSLETTER ******************/
.newsletter {
    background: linear-gradient(100deg, transparent 67%, #d1363a 67%, #d1363a 76.66%), 
    #ebebeb;
}
.newsletter .news-content p, label{
    color: #000;
}
/*********** GAMES *******************/
.games .cards .card {
    width: fit-content;
    margin: .2rem;
    padding: 0;
    position: relative;
    color: #fff;
    transition: all .1s ease-in;
}
.games .cards .card:hover {
    border: #fff solid .1rem;
    border-radius: 1rem;
}
.games .cards .card .image {
    position: relative;
    width: fit-content;
    height: 35rem;
    border-radius: 1rem;
}
.games .cards .card .image::after {
    content: " ";
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 0 0 1rem 1rem;
}
.games .cards .card .image img {
    width: 20rem;
    height: 35rem;
    border-radius: 1rem;
}
.games .cards .card .content {
    width: 20rem;
    position: absolute;
    top: 65%;
    padding: .9rem;
    z-index: 9000;
    height: 35%;
}

/***************** TRAILER ******************************/
.trailers .trailer {
    width: 30rem;
    padding: 1rem;
    background-color: #111;
    margin: 1rem;
    border-radius: 1rem;
}
.trailers .trailer iframe {
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
}
.trailer .content {
    padding: 1rem;
}
.trailer .content p {
    font-size: .9rem;
}
/***************** ABOUT ******************************/

.about .cards .card {
    width: fit-content;
    margin: 1rem;
}
.about .cards .card .image img {
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}
.about .cards .card .content {
    width: 20rem;
}
.about .cards .card .content p:nth-child(1) {
    font-size: 1.1rem;
    padding: .3rem 0;
    font-weight: bolder;
}
.quote {
    margin: 1rem;
}
.quote .blockquote {
    width: 60rem;
    border-left: 6px solid #BAC704;
    border-radius: 1rem;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’";
}
.quote .blockquote::before {
    color: #BAC704;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
.quote .blockquote::after {
    color: #BAC704;
    content: close-quote;
    font-size: 4rem;
    line-height: 2rem;
    vertical-align: -.5em;
}
.quote .blockquote p {
    display: inline;
    font-size: 1rem;
}
/*********** FORM ******************/
.contact {
    background-color: #ebebeb;
    padding: 2rem;
}
.contact p {
    color: #000;
    text-transform: uppercase;
    font-weight: bolder;
}
.contact .form .form-group {
    width: 20rem;
    margin: 1rem;
 }
.contact .form .form-group input, textarea, button {
    margin: .5rem 0;
}
/*********** FOOTER ******************/
.footer {
    background-color: #111;
}
.footer .footer-logo img {
    width: 6rem;
    margin: 0 .5rem;
}
.footer .footer-nav ul li{
    margin: 0 .5rem;
}
.footer .footer-nav ul li a {
    color: #8a8887;
    transition: all .1s ease;
}.footer .footer-nav ul li a:hover {
    color: #b1aead;
}
@font-face {
    font-family: "DeadZoneBold";
    src: url(../assets/fonts/Dead\ Zone\ Bold.ttf);
}
@media (min-width:768px) {
    .interest .cards .card .image img {
        width: 12rem;
        height: 8rem;
    }
}